<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>create new User:</p>
<form th:method="POST" th:action="@{/admin/user/new}" th:object="${user}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastname">lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <br>
    <label for="age">age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="username">username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="password">password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br>

    <input type="submit" value="create">
</form>


<br>
<div th:insert="footer :: copy"></div>
</body>
</html>