<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>one_user</title>
</head>
<body>
<div th:text="${user.toString()}">user</div>
<br>
<form th:method="Delete" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
    <input th:type="submit" value="remove user">
</form>

<p>change User:</p>
<form th:action="@{/admin/user/change}" th:method="PATCH" th:object="${user}">
    <label for="name">name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastname">lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname">
    <br>
    <label for="age">age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br>
    <label for="username">username: </label>
    <input type="text" th:field="*{username}" id="username">
    <br>
    <label for="password">password: </label>
    <input type="text" th:field="*{password}" id="password">
    <br>

        <label>Roles:</label>
        <ul>
            <li th:each="role : ${allRoles}">
                <input th:text="${role.getRole()}" th:value="${role.getRole()}" type="checkbox" name="allRoles">
            </li>
        </ul>
<!--    th:field="*{roles}"-->

<!--    <ul>-->
<!--        <li th:each="role : ${allRoles}">-->
<!--            <input type="checkbox" th:field="*{roles}" th:value="${role}"/>-->
<!--            <label th:for="${#ids.prev('roles')}" th:text="${role.getRole()}">ROLE_USER</label>-->
<!--        </li>-->
<!--    </ul>-->


    <label th:hidden="true" for="id">id: </label>
    <input th:hidden="true" type="text" th:field="*{id}" id="id">


    <input type="submit" value="change">
</form>
</body>
</html>
